# DigitalOcean Droplet
DO_API_TOKEN=
DROPLET_NAME=
REGION=
SIZE=
IMAGE=
SSH_KEY_ID=
TAG_NAME=

# SSH
SSH_KEY_PATH=
# SSH_PORT=22 (optional)

# System
SWAP_SIZE_GB=2
DISABLE_SWAP=false

# PostgreSQL Docker
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=