# DigitalOcean Droplet
DO_API_TOKEN=
DROPLET_NAME=
REGION=
SIZE=
IMAGE=
SSH_KEY_ID=
TAG_NAME=
ENABLE_DO_METRICS=true
# If you want DNS records to be created automatically, set the following variables:
# DOMAIN_NAMES=example.com,test.example.org # (optional, comma-separated list of domain names to add to the droplet)
# DNS_TTL=3600 # (optional, time-to-live for DNS records in seconds, default is 3600)
# Check the DigitalOcean documentation for more information on domain names:
# https://docs.digitalocean.com/products/networking/dns/getting-started/dns-registrars/

# SSH
SSH_KEY_PATH=
# SSH_PORT=22 (optional)

# System
SWAP_SIZE_GB=2
DISABLE_SWAP=false

# PostgreSQL Docker
POSTGRES_DB=myapp_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=secret

# Redis Docker
REDIS_PORT=6379
REDIS_PASSWORD=secret
