# DigitalOcean Droplet
DO_API_TOKEN=
DROPLET_NAME=
REGION=
SIZE=
IMAGE=
SSH_KEY_ID=
TAG_NAME=
ENABLE_DO_METRICS=true

# SSH
SSH_KEY_PATH=
# SSH_PORT=22 (optional)

# System
SWAP_SIZE_GB=2
DISABLE_SWAP=false

# PostgreSQL Docker
POSTGRES_DB=myapp_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=secret

# Redis Docker
REDIS_PORT=6379
REDIS_PASSWORD=secret
