/.kitsune/
/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

.env
.DS_Store
*.gem

/.kitsune/state/
/.kitsune/logs/
/.kitsune/support/
/.kitsune/environment
/.kitsune/known_hosts
